@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Indie+Flower&family=Rubik+Bubbles&display=swap');

:root {
    --linkColor: #144886;
    --fontFamile: 'Comfortaa';
    --textColor: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fontFamile);
}

a {
    text-decoration: none;
}

.site {
    max-width: 1968px;
    width: 100%;
    margin: 0 auto;
    overflow-y: hidden;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    max-width: 1368px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    width: 100%;
    height: 100vh;
    max-height: 700px;
    background: url(../image/headerBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleBrend {
    color: white;
    font-size: 40px;
    text-shadow: 0 0 3px var(--linkColor);
    width: 100%;
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 900;

}

header nav {
    height: 15%;
    max-height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 10px 0;
    background: linear-gradient(#107ebebc, rgba(255, 255, 255, 0.548));
}

header nav .container {
    justify-content: space-between;
}

header nav .logo {
    width: 5rem;
}

header nav ul {
    gap: 1.5rem;
    flex-wrap: wrap;
}

header .btn a,
.bars {
    background: linear-gradient(45deg, #1B56A2, #107EBE);
    color: var(--textColor);
    padding: .8rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 12px;
}

.bars {
    display: none;
    padding: 1rem;
}


header .btn a:hover {
    border: 1px solid #107EBE;
}

header nav a {
    color: var(--linkColor);
    transition: .5s;
}

header nav a:hover {
    font-weight: bold;
}

.sectionOne {
    text-align: center;

}

section h1 {
    font-size: 2rem;
    font-weight: 100;
    font-size: 38px;
    color: #313131;
    text-align: center;
    padding: 4rem 0 2rem 0;

}

.sectionOne {
    background: white;
}

.sectionOne ul {
    justify-content: space-between;

}

.sectionOne ul li {
    width: 33%;
    line-height: 2rem;
}

.sectionOne ul li img {
    width: 64px;
    padding: 20px 0;
}

.sectionOne ul li p {
    font-size: 24px;
    color: var(--linkColor);
    font-weight: 200;

}

.sectionTwo {
    color: #313131;
    background: #fff;
}

.sectionTwo .flex {
    justify-content: space-between;
    background: url(../image/Union.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 86%;

}

.sectionTwo ul {
    width: 32%;
}

.sectionTwo ul li {
    padding: 1rem 0;
}

.sectionTwo ul li img {
    width: 100%;
}

.sectionTwo ul li h3 {
    padding: .5rem 0;
}

.oVode {
    background: #E6EBF1;
    padding: 3rem 0;
    color: #313131;
    align-items: start;
    gap: 10%;
    padding-top: 5rem;

}

.oVode li {
    width: 30%;
    line-height: 20px;
}

.sectionThree {
    background: white;
}

.sectionThree ul {
    flex-wrap: wrap;
    justify-content: space-between;
}

.sectionThree ul li {
    width: 31%;
    height: 50vh;
    max-height: 450px;
    color: #313131;
    background: #E6EBF1;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #E6EBF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;

}

.sectionThree ul li:hover {
    background: linear-gradient(#107ebe81, rgba(255, 255, 255, 0.548), #107ebe81);
    border: 1px solid #E6EBF1;
    transition: .5s;
}

.sectionThree ul li .card-info {
    display: none;
}

.sectionThree ul li:active>.card-info {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionThree ul li span {
    position: absolute;
    top: 2%;
    background: rgba(255, 255, 0, 0.79);
    right: 2%;
    font-size: 10px;
    padding: 1rem;
    border-radius: 60px 20px;
    color: var(--linkColor);
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0 0 3px #107EBE;
}

.sectionThree ul li img {
    width: 60%;
    padding-bottom: 1rem;
}

.sectionThree ul li .nol_besh {
    width: 40%;
}

.sectionThree ul li .bir_litr {
    width: 50%;
}

.sectionThree ul li .besh_litr {
    width: 50%;
}

.sectionFour {
    background: #1448861A;
    padding: 3rem 0;

}

.sectionFour li {
    width: 50%;
}

.sectionFour li img {
    width: 90%;
}

.sectionFour p {
    padding: 1.5rem 0;
    line-height: 1.5rem;
}

.sectionFour a:nth-of-type(1) {
    background: linear-gradient(45deg, #1B56A2, #107EBE);
    color: var(--textColor);
    padding: .8rem 1.4rem;
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 14px;
}

.sectionFour a:nth-of-type(1):hover {
    background: transparent;
    color: #1B56A2;
    border: 1px solid #1B56A2;
}

.sectionFour a:nth-of-type(2) {
    background: transparent;
    color: #1B56A2;
    border: 1px solid #1B56A2;
    padding: .8rem 1.5rem;
    border-radius: 14px;
    font-size: 14px;
}

.sectionFive {
    padding: 3rem 0;
    background: white;
}

.sectionFive li {
    width: 50%;
}

.sectionFive li input,
textarea {
    width: 100%;
    background: #E6EBF1;
    border: none;
    padding: 1.5rem;
    border-radius: 10px;

}

.sectionFive p {
    padding: 1rem 0;
    line-height: 1.2rem;
    padding-right: 5%;
}

.sectionFive span {
    background: transparent;
    color: #1B56A2;
    border: 1px solid #1B56A2;
    padding: .4rem 1.5rem;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 900;
}

.sectionFive form {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.sectionFive form span {
    background: linear-gradient(45deg, #1B56A2, #107EBE);
    color: var(--textColor);
    padding: .8rem 1.4rem;
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.sectionFive form button:hover {
    background: transparent;
    color: #1B56A2;
    border: 1px solid #1B56A2;
}

footer {
    background: url(../image/footeBg.png);
    color: white;
    background-size: cover;
    padding: 8rem 0 1rem 0;
    line-height: 1.5rem;
    background-position: center bottom;
}

footer .flex {
    gap: 5%;
    justify-content: space-between;
}

footer h4 {
    text-align: center;
    padding-top: 3rem;
    font-weight: 100;
}

footer ul:nth-of-type(1) {
    width: 40%;
}

footer ul:nth-of-type(3) {
    width: 40%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
    /* background: url(../image/footeBg.png); */
    background: linear-gradient(#107EBE, white, #107EBE);
    background-size: cover;
}

.title {
    width: 21ch;
    overflow: hidden;
    color: #107EBE;
    font-size: 40px;
    font-family: monospace;
    border-right: 4px solid orange;
    white-space: nowrap;
    animation: printed-text 3s steps(21),
        flashin-border .75s step-start infinite;
    display: inline-block;
    max-width: 280px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes flashin-border {
    0% {
        border-color: #107EBE;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #107EBE;
    }
}

@keyframes printed-text {
    from {
        width: 0%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header nav {
        /* position: relative; */
        background: white;
    }

    .bars {
        display: inline-block;
    }

    .nav .flex {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10% 0;
        background: white;
    }

    header nav ul li {
        width: 100%;
    }

    .sectionOne ul {
        flex-direction: column;
    }

    .sectionOne ul li {
        width: 100%;
    }

    .sectionTwo .flex {
        flex-wrap: wrap;
    }

    .sectionTwo .flex ul {
        width: 100%;
        text-align: center;
    }

    .oVode {
        flex-wrap: wrap;
    }

    .oVode h1 {
        padding-bottom: 2rem;
    }

    .oVode li {
        width: 100%;
        text-align: center;
    }


    .sectionThree .flex {
        flex-direction: column;
    }

    .sectionThree ul li {
        background: linear-gradient(#107ebe81, rgba(255, 255, 255, 0.548), #107ebe81);
        border: 1px solid #E6EBF1;
        transition: .5s;
    }

    .sectionThree ul li:hover>.card-info {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .sectionThree .flex li {
        margin: 10px 0;
        width: 100%;
    }

    .sectionFour .flex li {
        width: 100%;
    }

    .sectionFour .flex li:nth-of-type(1) {
        display: none;
    }

    .sectionFour .flex a {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }

    .sectionFive .flex {
        flex-direction: column;
    }

    .sectionFive .flex li:nth-of-type(1) {
        width: 100%;
        padding-bottom: 2rem;
    }

    .sectionFive .flex li {
        width: 100%;
    }

    .sectionFive .flex button {
        width: 100%;
    }

    footer .container {
        flex-direction: column;
    }

    footer ul:nth-of-type(1) {
        width: 100%;
    }

    footer ul:nth-of-type(3) {
        width: 100%;
    }
}

@media (max-width: 368px) {
    .site {
        max-width: 368px;
    }

    .container {
        width: 95%;
    }

    .nav .flex {
        flex-direction: column;
    }
}